# Use Case 1
1. Load dataset from local directory
2. Generate and evaluate synthetic data
3. Save synthetic data as an Excel file (.xlsx)

## Imports

In [1]:
from synthesizers import Load

/home/hyrup/.local/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[KeOps] Warning : Cuda libraries were not detected on the system or could not be loaded ; using cpu only mode

## Load and generate data
* `split_size`:         Split the loaded data into training and holdout data. Holdout data is used for evaluation.
* `train_plugin`:       Passes the argument `plugin` to the train adapter.
* `gen_count`:          Number of synthetic records to generate.
* `eval_target_col`:    Attribute name for an attribute that is used for supervised evaluation methods.
* `save_name`:          Path and file name for the output file. The file extension determines the output type.
* `save_key`:           The generation process produces a dictionary-like output. The `save_key` is dictionary key for which data is saved.

In [7]:
# state = Load(r"data/Wine_Quality_Data.csv").Synthesize(split_size=0.8, train_plugin="bayesian_network", gen_count=1e4, eval_target_col="color", save_name="synthetic_wine.xlsx", save_key="synth")
state = Load(r"data/titanic.csv").Synthesize(split_size=0.8, train_plugin="bayesian_network", gen_count=1e4, eval_target_col="has_survived", save_name="synthetic_titanic.xlsx", save_key="synth")

[2024-04-23T07:37:33.649238+0200][8961][CRITICAL] module disabled: /home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/synthcity/plugins/generic/plugin_goggle.py
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and multiclass values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/home/hyrup/miniconda3/envs/synth/lib/python3.10/site-packages/sklearn/metrics/cluster/_supervised.py:66: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and multiclass values for target
  warnings.warn(msg, UserWarning)
04/23/2024 07:37:34:WARNING:Probability values don't exactly sum to 1. Differ by: -2.220446049250313e-16. Adjusting values.
04/23/2024 07:37:35:WARNING:Probability values don't exactly sum to 1. Differ by: -2.220446049250313e-16. Adjusting values.

Error: Principal component analysis did not run, too few nummerical attributes!

## View results
The synthetic data is also stored as an Excel file due to `save_name="synthetic_titanic.xlsx"`.

### Synthetic data

In [8]:
state[0].synth

,has_survived,passenger_class,surname,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,'Heininen','Mr. Harry',male,19,0,0,384461,6.656218,'',S
1,0,2,'Coutts','Mr. Richard Henry',male,3,0,0,110152,11.104618,'',S
2,0,3,'Sutton','Mr. Jozef',male,21,0,0,349201,7.317020,'',S
3,0,3,'Turcin','Mr. Karl Howell',male,47,0,0,347087,9.027156,'',S
4,0,1,'McMahon','Mr. Ernst Adolf',male,64,0,0,11967,25.862070,E33,S
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,3,'Hickman','Mr. Carl/Charles Peter',male,3,0,0,'SOTON/O.Q. 3101307',6.339820,'',S
9996,0,2,'Hays','Mr. Selman Francis',male,20.5,2,0,'PP 4348',72.178661,'',S
9997,1,3,'Toufik','Master. George Hugh',male,0.67,0,1,2651,9.047895,'',C
9998,0,3,'Longley','Mr. William Baird',male,30,1,0,'A/5. 3337',16.218557,'',S
9999,1,3,'Sheerlinck','Mrs. John (Catherine)',female,24,0,2,'SC/AH 3085',17.184763,T,S

### Evaluation results

In [9]:
state[0].eval

              metric dim       val       err     n_val     n_err
0       avg_dwm_diff   u  0.001210  0.003957  0.998790  0.003957
1            avg_cio   u  0.634799       NaN  0.634799       NaN
2      corr_mat_diff   u  6.089718       NaN  0.907732       NaN
3    mutual_inf_diff   u  1.913772       NaN  0.971003       NaN
4        ks_tvd_stat   u  0.090976  0.029581  0.909024  0.029581
5       frac_ks_sigs   u  0.166667       NaN  0.833333       NaN
6         avg_h_dist   u  0.072968  0.026966  0.927032  0.026966
7           avg_pMSE   u  0.000023  0.000002  0.999906  0.000009
8           avg_nndr   p  0.819880  0.011406  0.819880  0.011406
9     priv_loss_nndr   p  0.155703  0.012947  0.844297  0.011406
10              nnaa   u  0.625913  0.002675  0.374087  0.002675
11    priv_loss_nnaa   p  0.129208  0.005654  0.870792  0.005654
12             auroc   u  0.004864       NaN  0.995136       NaN
13       cls_F1_diff   u  0.037536  0.012165  0.962464  0.012165
14  cls_F1_diff_hout   u  0.025140  0.009264  0.974860  0.009264
15        median_DCR   p  1.331638       NaN  0.869649       NaN
16          hit_rate   p  0.095506       NaN  0.904494       NaN
17  eps_identif_risk   p  0.782303       NaN  0.217697       NaN
18      mia_cls_risk   p  1.000000  0.000000  0.000000  0.000000
19    att_discl_risk   p  0.673588  0.109553  0.326412  0.109553